.inf-content{
    border:1px solid #f5f5f5;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;  
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}


    .inf-content {
        padding: 20px;
    }

    .ratings li {
        display: inline-block;
        font-size: 18px;
        color: #ffd700;
    }

    .row {
        margin-bottom: 10px;
    }

    .col-label {
        font-weight: bold;
    }

    .col-value {
        color: #337ab7;
    }

  

  /* .employee-form {
    margin: 100px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  p {
    margin: 0;
  } */

  /* .employee-form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-row {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  p {
    margin: 0;
  }
   */
  